<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div
    class="p-5 bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
      height: 300px;
    "
  ></div>
  <!-- Background image -->

  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <!-- // TODO agregar form #f="ngForm" -->
          <h2 class="fw-bold mb-5">Login</h2>
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <div class="form-outline form-white mb-4">
              <input
                type="email"
                id="nombreUsuario"
                name="nombreUsuario"
                class="form-control form-control-lg"
                [(ngModel)]="nombreUsuario"
                required
              />
              <label class="form-label" for="nombreUsuario">Usuario</label>
            </div>

            <div class="form-outline form-white mb-4">
              <input
                type="password"
                id="password"
                name="password"
                class="form-control form-control-lg"
                [(ngModel)]="password"
                required
              />
              <label class="form-label" for="password">Contraseña</label>
            </div>

            <!-- <p class="small mb-5 pb-lg-2">
                  <a class="text-white-50" href="#!">Forgot password?</a>
                </p> -->

            <button type="submit" class="btn btn-primary btn-block mb-4">
              Ingresar
            </button>
          </form>
          <!-- termina el TODO -->
        </div>
      </div>
    </div>
  </div>

  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px)"
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Crea una cuenta</h2>
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4 form-outline">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1"
                  >Primer nombre</label
                >
              </div>
              <div class="col-md-6 mb-4 form-outline">
                <input type="text" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2"
                  >Segundo nombre</label
                >
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control" />
              <label class="form-label" for="form3Example3">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form3Example4" class="form-control" />
              <label class="form-label" for="form3Example4">Password</label>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Ingresar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
