<div>
  <h2>Experiencia laboral</h2>
  <div>
    <ul>
      <li class="row">
        <img
          src="../../../assets/facebook.png"
          alt="logo de empresa"
          class="col-2"
        />
        <div class="col-10">
          <h3>Trabajo 1 - (years)</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sunt
            praesentium harum libero eos ut accusantium, provident autem
            pariatur eum? Dolor vitae natus obcaecati beatae totam alias
            voluptate ipsum minima.
          </p>
        </div>
      </li>
      <li class="row">
        <img
          src="../../../assets/instagram.png"
          alt="logo de empresa"
          class="col-2"
        />
        <div class="col-10">
          <h3>Trabajo 2 - (years)</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sunt
            praesentium harum libero eos ut accusantium, provident autem
            pariatur eum? Dolor vitae natus obcaecati beatae totam alias
            voluptate ipsum minima.
          </p>
        </div>
      </li>
      <li class="row">
        <img
          src="../../../assets/linkedin.png"
          alt="logo de empresa"
          class="col-2"
        />
        <div class="col-10">
          <h3>Trabajo 3 - (years)</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sunt
            praesentium harum libero eos ut accusantium, provident autem
            pariatur eum? Dolor vitae natus obcaecati beatae totam alias
            voluptate ipsum minima.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
