<div class="row">
  <h2>Proyectos</h2>
  <div class="col-sm-12 col-md-7 col-lg-7">
    <h3>Ejemplo</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio at
      dolorum cumque recusandae deleniti repellendus minima reiciendis omnis,
      aliquam dicta fugit, sit atque doloribus placeat saepe accusamus natus
      pariatur ullam.
    </p>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
    <img class="img-fluid" src="#" alt="Imagen de Ejemplo" />
  </div>
</div>
