<div class="container-fluid row">
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/editacercade/1"
      *ngIf="isLogged"
    >
      Edit Person
    </button>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <img id="fotoFrente" src="#" alt="Foto de Gabriela Maza Sasiuk" />
    <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
    <p id="titulo">Full Stack Developer Trainee</p>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 div">
    <h2>Acerca de mí</h2>
    <p>{{ persona.descripcion }}</p>
  </div>
</div>
