<div class="container-fluid row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    <img
      id="#fotoFrente"
      src="../../../assets/fotoFrente.jpg"
      alt="Foto frente de Gabriela Maza Sasiuk"
    />
    <p id="nombre">Gabriela Maza Sasiuk</p>
    <p id="titulo">Full Stack Developer Trainee</p>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 div">
    <h2>Acerca de mí</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus nam
      ullam expedita similique beatae ipsam necessitatibus asperiores. Rem ipsam
      veritatis aliquid deleniti nisi saepe placeat accusantium voluptas
      tempora? Neque, impedit!
    </p>
  </div>
</div>
