<div class="gradient-custom">
  <div class="container">
    <h2 class="fw-bold mb-2">- CREAR -</h2>
    <p>Para finalizar haga click sobre el botón</p>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="form-group">
        <label for="nombreHd">Nombre de la Skill</label>
        <input
          type="text"
          class="form-control"
          id="nombreHd"
          name="nombreHd"
          [(ngModel)]="nombreHd"
          required
        />
      </div>
      <div class="form-group">
        <label for="porcentajeHd">Porcentaje de la Skill</label>
        <input
          type="number"
          class="form-control"
          id="porcentajeHd"
          name="porcentajeHd"
          [(ngModel)]="porcentajeHd"
          required
        />
      </div>
      <button class="btn btn-dark">Agregar</button>
    </form>
  </div>
</div>
