@media (max-width: 465px) {
    .logoAP {
        max-width: 100%;
    }

    /* TODO hamburguesa boton */
    .logoRedes {
        width: 30px;
    }
}

@media (min-width: 466px) {
    .logoAP {
        max-width: 100%;
    }

    .logoRedes {
        width: 50px;
    }
}

@media (min-width: 601px) {
    .logoAP {
        max-width: 100%;
    }

    .logoRedes {
        width: 70px;
    }
}

@media (min-width: 896px) {
    .logoAP {
        width: 359px;
    }
}

.divRedes {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


.btn {
    border-width: medium;
}