<div class="row">
  <div class="col-6 logo">
    <img
      class="logoAP"
      src="../../../assets/logoAP.png"
      alt="Logo de Argentina Programa"
    />
  </div>
  <div class="col-5 col-offset redes">
    <a href=""
      ><img class="redes" src="../../../assets/google.png" alt="google"
    /></a>
    <a href=""
      ><img class="redes" src="../../../assets/instagram.png" alt="instagram"
    /></a>
    <a href=""
      ><img class="redes" src="../../../assets/linkedin.png" alt="linkedin"
    /></a>
    <a href=""
      ><img class="redes" src="../../../assets/whatsapp.png" alt="whatsapp"
    /></a>
    <button type="button" class="btn btn-outline-secondary">Login</button>
  </div>
</div>
