<div class="row">
  <div class="col-5 divLogo">
    <a
      href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
      target="_blank"
      rel="noopener"
      ><img
        class="logoAP"
        src="../../../assets/logoAP.png"
        alt="Logo de Argentina Programa"
    /></a>
  </div>
  <div class="col-7 divRedes">
    <a href="#"
      ><img class="logoRedes" src="../../../assets/gmail.svg" alt="gmail"
    /></a>
    <a href="#"
      ><img
        class="logoRedes"
        src="../../../assets/instagram.svg"
        alt="instagram"
    /></a>
    <a href="#"
      ><img class="logoRedes" src="../../../assets/linkedin.svg" alt="linkedin"
    /></a>
    <a href="#"
      ><img class="logoRedes" src="../../../assets/whatsapp.svg" alt="whatsapp"
    /></a>
    <a href="#"
      ><img class="logoRedes" src="../../../assets/discord.svg" alt="discord"
    /></a>
    <a href="#"
      ><img class="logoRedes" src="../../../assets/telegram.svg" alt="telegram"
    /></a>
    <button
      type="button"
      class="btn btn-outline-light"
      (click)="login()"
      *ngIf="!isLogged"
    >
      INGRESO
    </button>
    <button
      type="button"
      class="btn btn-outline-light"
      (click)="onLogOut()"
      *ngIf="isLogged"
    >
      CERRAR SESION
    </button>
  </div>
</div>
