<div class="gradient-custom">
  <div class="container">
    <h2 class="fw-bold mb-2">- CREAR -</h2>
    <p>Para finalizar haga click sobre el botón</p>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="form-group">
        <label for="institucionEd">Nombre de la Institución</label>
        <input
          type="text"
          class="form-control"
          id="institucionEd"
          name="institucionEd"
          [(ngModel)]="institucionEd"
          required
        />
      </div>
      <div class="form-group">
        <label for="tituloEd">Título/certificado obtenido</label>
        <input
          type="text"
          class="form-control"
          id="tituloEd"
          name="tituloEd"
          [(ngModel)]="tituloEd"
          required
        />
      </div>
      <div class="form-group">
        <label for="fechaInicioEd">Fecha de inicio</label>
        <input
          type="number"
          class="form-control"
          id="fechaInicioEd"
          name="fechaInicioEd"
          [(ngModel)]="fechaInicioEd"
          required
        />
      </div>
      <div class="form-group">
        <label for="fechaFinEd">Fecha de finalización</label>
        <input
          type="number"
          class="form-control"
          id="fechaFinEd"
          name="fechaFinEd"
          [(ngModel)]="fechaFinEd"
          required
        />
      </div>
      <button class="btn btn-dark">Agregar</button>
    </form>
  </div>
</div>
