<div class="row">
  <h2>Hard Skills</h2>
  <div class="circulo col-sm-6 col-md-4 col-lg-3">
    <circle-progress [percent]="90" [title]="'HTML'" [titleFontSize]="'30px'">
    </circle-progress>
  </div>
  <div class="circulo col-sm-6 col-md-4 col-lg-3">
    <circle-progress [percent]="50" [title]="'CSS'" [titleFontSize]="'30px'">
    </circle-progress>
  </div>
  <div class="circulo col-sm-6 col-md-4 col-lg-3">
    <circle-progress [percent]="50" [title]="'JS'" [titleFontSize]="'30px'">
    </circle-progress>
  </div>
  <div class="circulo col-sm-6 col-md-4 col-lg-3">
    <circle-progress [percent]="90" [title]="'JAVA'" [titleFontSize]="'30px'">
    </circle-progress>
  </div>
  <h2>Soft Skills</h2>
  <div class="circulo col-sm-6 col-md-4 col-lg-3">
    <circle-progress
      [percent]="80"
      [title]="'Comunicación'"
      [titleFontSize]="'30px'"
    >
    </circle-progress>
  </div>
  <div class="circulo col-sm-6 col-md-4 col-lg-3">
    <circle-progress
      [percent]="90"
      [title]="'Análisis'"
      [titleFontSize]="'30px'"
    >
    </circle-progress>
  </div>
  <div class="circulo col-sm-6 col-md-4 col-lg-3">
    <circle-progress
      [percent]="50"
      [title]="'Creatividad'"
      [titleFontSize]="'30px'"
    >
    </circle-progress>
  </div>
  <div class="circulo col-sm-6 col-md-4 col-lg-3">
    <circle-progress
      [percent]="90"
      [title]="'Respeto'"
      [titleFontSize]="'30px'"
    >
    </circle-progress>
  </div>
</div>
