<div class="h2">
  <h2>Solf Skills</h2>

  <button
    type="button"
    class="btn btn-dark"
    routerLink="/newsfskill"
    *ngIf="isLogged"
  >
    <i class="bi bi-plus-square"></i>
  </button>
</div>

<div class="grid">
  <div *ngFor="let SoftSkill of softSkill">
    <circle-progress
      [percent]="SoftSkill.porcentajeSf"
      [title]="SoftSkill.nombreSf"
      [titleFontSize]="'30px'"
    >
    </circle-progress>
    <div class="divBtn" *ngIf="isLogged">
      <button
        class="btn btn-light"
        routerLink="/editsfskill/{{ SoftSkill.id }}"
      >
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(SoftSkill.id)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>
