<div class="row">
  <h2>Solf Skills</h2>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/newsfskill"
      *ngIf="isLogged"
    >
      <i class="bi bi-plus-square"></i>
    </button>
  </div>

  <div
    class="circulo col-sm-6 col-md-4 col-lg-3"
    *ngFor="let SoftSkill of softSkill"
  >
    <circle-progress
      [percent]="SoftSkill.porcentajeSf"
      [title]="SoftSkill.nombreSf"
      [titleFontSize]="'30px'"
    >
    </circle-progress>
    <div>
      <td *ngIf="isLogged">
        <button
          class="btn btn-light"
          routerLink="/editsfskill/{{ SoftSkill.id }}"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
      </td>
      <td *ngIf="isLogged">
        <button class="btn btn-danger" (click)="delete(SoftSkill.id)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </td>
    </div>
  </div>
</div>
