<div class="row">
  <h2>Proyectos</h2>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/newproyecto"
      *ngIf="isLogged"
    >
      <i class="bi bi-plus-square"></i>
    </button>
  </div>

  <div class="col-sm-12 col-md-7 col-lg-7" *ngFor="let Proyecto of proyecto">
    <h3>{{ Proyecto.nombreP }}</h3>
    <p>{{ Proyecto.fechaInicioP }} - {{ Proyecto.fechaFinP }}</p>
    <p>{{ Proyecto.descripcionP }}</p>

    <div *ngIf="Proyecto">
      <img
        id="imagen"
        src="{{ Proyecto.imgP }}"
        alt="Foto de Gabriela Maza Sasiuk"
      />
    </div>
    <br />
    <p>{{ Proyecto.linkP }}</p>

    <button class="btn btn-light" routerLink="/editproyecto/{{ Proyecto.id }}">
      <i class="bi bi-pencil-fill"></i>
    </button>
    <button class="btn btn-danger" (click)="delete(Proyecto.id)">
      <i class="bi bi-trash-fill"></i>
    </button>
  </div>
</div>
