<div class="row">
  <div class="h2">
    <h2>Proyectos</h2>

    <button
      type="button"
      class="btn btn-dark"
      routerLink="/newproyecto"
      *ngIf="isLogged"
    >
      <i class="bi bi-plus-square"></i>
    </button>
  </div>

  <div class="grid" *ngFor="let Proyecto of proyecto">
    <div *ngIf="Proyecto">
      <img
        id="imagen"
        src="{{ Proyecto.imgP }}"
        alt="Logo de institucion"
        max-width="100px"
      />
    </div>
    <div>
      <h3>{{ Proyecto.nombreP }}</h3>
      <p>{{ Proyecto.fechaP }}</p>
      <p>{{ Proyecto.descripcionP }}</p>
      <p>{{ Proyecto.linkP }}</p>
    </div>
    <div *ngIf="isLogged">
      <button
        class="btn btn-light"
        routerLink="/editproyecto/{{ Proyecto.id }}"
      >
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(Proyecto.id)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>
