<div class="row">
  <div class="h2">
    <h2>Experiencia laboral</h2>

    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      <i class="bi bi-plus-square"></i>
    </button>
  </div>
  <div class="grid" *ngFor="let Experiencia of expe">
    <div *ngIf="Experiencia">
      <img
        id="imagen"
        src="{{ Experiencia.imgEmpresaEx }}"
        alt="Logo de empresa"
        max-width="100px"
      />
    </div>
    <div>
      <h3>{{ Experiencia.empresaEx }}</h3>
      <p>{{ Experiencia.tituloEx }}</p>
      <p>{{ Experiencia.fechaInicioEx }} - {{ Experiencia.fechaFinEx }}</p>
      <p>{{ Experiencia.descripcionEx }}</p>
    </div>
    <div *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editexp/{{ Experiencia.id }}">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="btn btn-danger" (click)="delete(Experiencia.id)">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>
</div>
