<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="empresaEx">Nombre de la empresa</label>
          <input
            type="text"
            class="form-control"
            id="empresaEx"
            name="empresaEx"
            [(ngModel)]="empresaEx"
            required
          />
        </div>
        <div class="form-group">
          <label for="tituloEx">Puesto de trabajo</label>
          <input
            type="text"
            class="form-control"
            id="tituloEx"
            name="tituloEx"
            [(ngModel)]="tituloEx"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcionEx">Descripcion del trabajo realizado</label>
          <input
            type="text"
            class="form-control"
            id="descripcionEx"
            name="descripcionEx"
            [(ngModel)]="descripcionEx"
            required
          />
        </div>
        <div class="form-group">
          <label for="fechaInicioEx">Fecha de inicio</label>
          <input
            type="number"
            class="form-control"
            id="fechaInicioEx"
            name="fechaInicioEx"
            [(ngModel)]="fechaInicioEx"
            required
          />
        </div>
        <div class="form-group">
          <label for="fechaFinEx">Fecha de finalización</label>
          <input
            type="number"
            class="form-control"
            id="fechaFinEx"
            name="fechaFinEx"
            [(ngModel)]="fechaFinEx"
            required
          />
        </div>
        <button class="btn btn-primary">Agregar experiencia</button>
      </form>
    </div>
  </div>
</div>
